/* ----------------------------------------------------------------------------- */
/* Colors */

$vf-gray-1: #333;
$vf-gray-2: #595959;
$vf-gray-3: #767676;
$vf-gray-4: #949494;
$vf-gray-5: #b8b8b8;
$vf-gray-6: #d4d4d4; /* borders */
$vf-gray-7: #e9e9e9;
$vf-gray-8: #f8f8f8;
$vf-white: #fff;

$vf-teal-1: #159782;
$vf-teal-2: #1BAC95;
$vf-teal-3: #78CA9C;

$vf-yellow-1: #CC9F12;
$vf-yellow-2: #F5C323;
$vf-yellow-3: #F9DB7B;

$vf-red-1: #A62F21;
$vf-red-2: #DC584F;
$vf-red-3: #E7A6A1;