/* ----------------------------------------------------------------------------- */
/* import variables */

@import "_sass-variables.scss";
@import "_sass-typography.scss";
@import "_sass-ui.scss";

/* ----------------------------------------------------------------------------- */
/* Typography */

html,
body
{
	/*height: 100%;*/
	transition-timing-function: ease-out;
}

/* ----------------------------------------------------------------------------- */
/* --- sections --- */





/* ----------------------------------------------------------------------------- */
/* --- mobile header --- */

header
{
	height: 48px;
	background: #fff;	
	display: block;
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid #efefef;

	@media (min-width: 768px){
		display: none;
	}

	.logo
	{
		width: 130px;
		padding: 8px 0;
	}

	.menu
	{
		float: right;
		padding: 12px 0;
	}
}



/* ----------------------------------------------------------------------------- */
/* --- nav --- */

.nav
{
	display: none;
	position: fixed;

	@media (min-width: 768px){
		display: inline-block;
		width: 240px;
	}

	@media (min-width: 992px){
		width: 240px;
	}

	@media (min-width: 1200px){
		width: 285px;
	}

}

nav .logo
{
	width: 100%;
	margin-bottom: 48px;
}

	@media (min-width: 768px){
		
	}

nav h5
{
	margin-bottom: 12px;
}

nav .nav-content
{
	background: $vf-gray-8;
	height: 10000px;
	padding: 20px;

	@media (min-width: 768px){
		padding: 32px;
		padding-top: 48px;
	}

	@media (min-width: 992px){
		padding: 32px;
		padding-top: 48px;
	}

	@media (min-width: 1200px){
		padding: 48px;
	}

}

nav .save-exit
{
	margin-bottom: 4px;
}



/* ----------------------------------------------------------------------------- */
/* --- content global --- */

.content
{
	padding-top: 80px;
	padding-bottom: 80px;

	@media (min-width: 768px){
		padding-top: 48px;
		padding-bottom: 80px;
	}

	.title-desc
	{
		margin-bottom: 32px;

		h3
		{
			margin-bottom: 8px;
		}
	}

	.submit-bar
	{
		background: #fff;
		border-top: 1px solid #efefef;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 72px;
		width: 100%;

		@media (min-width: 768px){
			border-top: none;
			position: relative;
			height: 48px;
			margin-bottom: 48px;
		}

		input
		{
			width: 100%;
			margin-bottom: 48px;
			margin: 12px 0;

			@media (min-width: 768px){
				margin: 0;
			}
		}
	}
}

.drop-zone
{
	text-align: center;
	border: 1px dashed $vf-teal-2;
	border-radius: 4px;
	margin-bottom: 8px;
}


/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* --- active page --- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */


.page
{
	display: none;
}

.page.description-page
{
	display: block;
}



/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* --- cover photo --- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */


.li-cover-photo
{
	margin-bottom: 30px;
	position: relative;

	.drop-zone
	{
		width: 100%;
		padding: 14% 12px 0 12px;
		height: 99%;

		@media (min-width: 576px){
			padding: 18% 12px 0 12px;
			height: 187.5px;
		}

		@media (min-width: 768px){
			padding: 14% 24px 0 24px;
			height: 262.5px;
		}

		@media (min-width: 992px){
			height: 262.5px;
		}

		@media (min-width: 1200px){
			padding: 21% 24px 0 24px;
			height: 318.72px;
		}

		h4,p
		{
			color: $vf-teal-2;
		}

		h4
		{
			margin-bottom: 12px;

			@media (min-width: 768px){
				margin-bottom: 0px;
			}
		}

		p
		{
			margin-bottom: 18px;
		}

		.upload-icon
		{
			width: 44px;
			height: 32px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 4px;
			position: relative;

			@media (min-width: 768px){
				margin-bottom: 12px;
			}

			@media (min-width: 1200px){
				width: 50px;
				height: 36px;	
				margin-bottom: 16px;
			}
		}

		.upload-icon img
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transition: top .2s;
		}

		b
		{
			display: block;
			margin-bottom: 8px;
		}

		.icon.close
		{
			position: absolute;
			top: 8px;
			right: 23px;
		}

		.drag-content
		{
			display: none;

			@media (min-width: 768px){
				display: block;
			}
		}

		.tap-content
		{
			display: block;
			margin-bottom: 16px;

			@media (min-width: 768px){
				display: none;
			}
		}
	}

	.uploading
	{
		padding-top: 38%;

		@media (min-width: 992px){
			padding-top: 40%;
		}

		@media (min-width: 1200px){
			padding-top: 44%;
		}
		
		h4
		{
			color: $vf-gray-1;
			margin-bottom: 18px;
		}

		.progress
		{
			background: $vf-gray-8;
			padding: 2px;
			width: 100%;
			border-radius: 4px;
			margin-bottom: 8px;

			.completed
			{
				background: $vf-yellow-2;
				height: 4px;
				width: 25%;
				border-radius: 4px;
			}
		}
	}

	.drop-zone:hover img
	{
		top: -4px;
	}

	.uploaded
	{
		width: 100%;

		img
		{
			width: 100%;
			border-radius: 4px;
		}
	}
}


/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* --- page globals --- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */


.page
{
	.field-container
	{
		margin-bottom: 48px;
	}

	.caption
	{
		margin-bottom: 8px;
	}

	.caption.error
	{
		color: $vf-red-2;
	}

	input[type="text"]
	{
		width: 100%;
		margin-bottom: 8px;
	}

	textarea
	{
		width: 100%;
		height: 96px;
		margin-bottom: 8px;
	}
}